<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>post请求测试</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<div>
    <h2>通过名字搜索范围</h2>
    <form action="/test_search_ranges_by_name/" method="post">
        <label for="name">name</label>
        <input type="text" name="name" id="name">
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>通过范围搜索人名</h2>
    <form action="/test_search_person_by_ranges/" method="post">
        <label>dynasties:</label>
        <label><input name="dynasties[]" type="checkbox" value="575">宋</label>
        <label><input name="dynasties[]" type="checkbox" value="406">唐</label>
        <label for="min_year">min_year(整数)</label>
        <input type="number" name="min_year" id="min_year">
        <label for="max_year">max_year(整数)</label>
        <input type="number" name="max_year" id="max_year">
        <label>genders:</label>
        <label><input name="genders[]" type="checkbox" value="男">男</label>
        <label><input name="genders[]" type="checkbox" value="女">女</label>
        <label>status:</label>
        <label><input name="status[]" type="checkbox" value="[為官者：文]">[為官者：文]</label>
        <label><input name="status[]" type="checkbox" value="[武官]">[武官]</label>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>通过人名id搜索地址</h2>
    <form action="/test_search_address_by_person_ids/" method="post">
        <label>person_ids:</label>
        <label><input name="person_ids[]" type="checkbox" value="1447">朱明之</label>
        <label><input name="person_ids[]" type="checkbox" value="2287">吕嘉问</label>
        <label><input name="person_ids[]" type="checkbox" value="2773">王安礼</label>
        <label><input name="person_ids[]" type="checkbox" value="2775">王安石</label>
        <label><input name="person_ids[]" type="checkbox" value="2658">蔡京</label>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>通过人名id搜索topic</h2>
    <form action="/test_search_topics_by_person_ids/" method="post">
        <label>person_ids:</label>
        <label><input name="person_ids[]" type="checkbox" value="1447">朱明之</label>
        <label><input name="person_ids[]" type="checkbox" value="2287">吕嘉问</label>
        <label><input name="person_ids[]" type="checkbox" value="2773">王安礼</label>
        <label><input name="person_ids[]" type="checkbox" value="2775">王安石</label>
        <label><input name="person_ids[]" type="checkbox" value="2658">蔡京</label>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>调整topic_id权重</h2>
    <label>执行前先要执行通过人名id搜索topic，然后再可视化一下，之后才能按调整topic_id权重这个按钮</label>
    <button type="button" onclick="adjust_topic_weights()">调整topic_id权重</button>
</div>
<div>
    <h2>通过图数据语句来查询人的id</h2>
    <form action="/test_search_person_ids_by_draws/" method="post">
        <label for="draws">图数据查询语句（执行前要开图数据库）</label>
        <textarea id="draws" name="draws" rows="4" cols="100"></textarea>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>结果:
        <button type="button" onclick="show()">可视化</button>
    </h2>
    <pre id="response">{{ response }}</pre>
</div>
</body>
</html>

<script type="text/javascript">
    _json = {};

    function show() {
        var _content = document.getElementById('response').innerText; //获取json格式内容
        _json = JSON.parse(_content);
        _content = JSON.stringify(JSON.parse(_content), null, 2);//将字符串转换成json对象
        document.getElementById('response').innerText = _content;
    }

    function adjust_topic_weights() {
        $.ajax({
            url: '/test_adjust_topic_weights/',
            type: 'POST',
            data: JSON.stringify({
                "topic_weights": {'1 1 1': 2},
                "topic_id2sentence_ids2vector": _json['topic_id2sentence_ids2vector'],
                "person_id2sentence_ids": _json['person_id2sentence_ids']
            }),
            dataType: "json",
            success: function (result) {
                document.getElementById('response').innerText = JSON.stringify(result, null, 2);
            }
        });
    }
</script>