<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>post请求测试</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<div>
    <h2>通过名字搜索范围</h2>
    <form action="/test_search_relation_person_by_name/" method="post">
        <label for="name">name</label>
        <input type="text" name="name" id="name">
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>通过范围搜索人名</h2>
    <form action="/test_search_person_by_ranges/" method="post">
        <label>dynasties:</label>
        <label><input name="dynasty_ids[]" type="checkbox" value="575">宋</label>
        <label><input name="dynasty_ids[]" type="checkbox" value="406">唐</label>
        <label for="min_year">min_year(整数)</label>
        <input type="number" name="min_year" id="min_year">
        <label for="max_year">max_year(整数)</label>
        <input type="number" name="max_year" id="max_year">
        <label>genders:</label>
        <label><input name="genders[]" type="checkbox" value="男">男</label>
        <label><input name="genders[]" type="checkbox" value="女">女</label>
        <label>status:</label>
        <label><input name="statu_ids[]" type="checkbox" value="633555">[宰相]</label>
        <label><input name="statu_ids[]" type="checkbox" value="633479">书法家</label>
        <label>address:</label>
        <label><input name="address_ids[]" type="checkbox" value="445625">北京省市</label>
        <label><input name="address_ids[]" type="checkbox" value="445622">浙江省</label>
        <label>office:</label>
        <label><input name="office_ids[]" type="checkbox" value="621434">提举</label>
        <label><input name="office_ids[]" type="checkbox" value="698910">总领</label>
        <label>office_type:</label>
        <label><input name="office_type_ids[]" type="checkbox" value="731110">内府局</label>
        <label><input name="office_type_ids[]" type="checkbox" value="731214">三师</label>
        <label>post_address:</label>
        <label><input name="post_address_ids[]" type="checkbox" value="399239">西安符</label>
        <label><input name="post_address_ids[]" type="checkbox" value="429891">开平</label>
        <label>post_type:</label>
        <label><input name="post_type_ids[]" type="checkbox" value="733099">正授</label>
        <label><input name="post_type_ids[]" type="checkbox" value="733134">赠</label>
        <label>entry:</label>
        <label><input name="entry_ids[]" type="checkbox" value="472074">征辟</label>
        <label><input name="entry_ids[]" type="checkbox" value="473860">开国君主</label>
        <label>entry_type:</label>
        <label><input name="entry_type_ids[]" type="checkbox" value="450830">学生门</label>
        <label><input name="entry_type_ids[]" type="checkbox" value=450832>监生门</label>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>通过地址id搜索地址</h2>
    <form action="/test_search_address_by_address_ids/" method="post">
        <label>person_ids:</label>
        <label><input name="address_ids[]" type="checkbox" value="430158">浦江</label>
        <label><input name="address_ids[]" type="checkbox" value="446203">江南</label>
        <label><input name="address_ids[]" type="checkbox" value="430967">金华</label>
        <label><input name="address_ids[]" type="checkbox" value="432244">余姚</label>
        <label><input name="address_ids[]" type="checkbox" value="432121">华亭</label>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>异步通过人名id搜索topic</h2>
    <form action="/test_search_topics_by_person_ids/" method="post">
        <label for="populate_ratio">populate_ratio (推荐0.6)</label>
        <input type="number" name="populate_ratio" id="populate_ratio" value="0.6">
        <label for="max_topic">max_topic (推荐 10)</label>
        <input type="number" name="max_topic" id="max_topic" value="10">
        <label for="min_sentence">min_sentence (不要小于5 )</label>
        <input type="number" name="min_sentence" id="min_sentence" value="5">
        <label for="sub_topic_ratio">sub_topic_ratio (推荐0.7)</label>
        <input type="number" name="sub_topic_ratio" id="sub_topic_ratio" value="0.7">
        <label for="difficult_ratio">difficult_ratio (推荐0.15)</label>
        <input type="number" name="difficult_ratio" id="difficult_ratio" value="0.15">
        <label>person_ids:</label>
        <label><input name="person_ids[]" type="checkbox" value="1447">朱明之</label>
        <label><input name="person_ids[]" type="checkbox" value="2287">吕嘉问</label>
        <label><input name="person_ids[]" type="checkbox" value="2773">王安礼</label>
        <label><input name="person_ids[]" type="checkbox" value="2775">王安石</label>
        <label><input name="person_ids[]" type="checkbox" value="2658">蔡京</label>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>Socket通过人名id搜索topic</h2>
    <div id='socket_search_topic'>
        <label for="populate_ratio">populate_ratio(推荐0.6)</label>
        <input type="number" name="populate_ratio" id="populate_ratio" value="0.6">
        <label for="max_topic">max_topic(推荐 10)</label>
        <input type="number" name="max_topic" id="max_topic" value="10">
        <label for="min_sentence">min_sentence(不要小于5 )</label>
        <input type="number" name="min_sentence" id="min_sentence" value="5">
        <label for="sub_topic_ratio">sub_topic_ratio (推荐0.7)</label>
        <input type="number" name="sub_topic_ratio" id="sub_topic_ratio" value="0.7">
        <label for="difficult_ratio">difficult_ratio (推荐0.15)</label>
        <input type="number" name="difficult_ratio" id="difficult_ratio" value="0.15">
        <label>person_ids:</label>
        <label><input name="person_ids[]" type="checkbox" value="1447">朱明之</label>
        <label><input name="person_ids[]" type="checkbox" value="2287">吕嘉问</label>
        <label><input name="person_ids[]" type="checkbox" value="2773">王安礼</label>
        <label><input name="person_ids[]" type="checkbox" value="2775">王安石</label>
        <label><input name="person_ids[]" type="checkbox" value="2658">蔡京</label>
        <button type='button' onclick="socket_search_topics_by_person_ids()">socket搜索</button>
    </div>
</div>
<div>
    <h2>异步通过人名id比较topic</h2>
    <form action="/test_compared_topics_by_person_ids/" method="post">
        <label for="populate_ratio">populate_ratio(推荐0.6)</label>
        <input type="number" name="populate_ratio" id="populate_ratio" value="0.3">
        <label for="max_topic">max_topic(推荐 10)</label>
        <input type="number" name="max_topic" id="max_topic" value="10">
        <label for="min_sentence">min_sentence(不要小于5 )</label>
        <input type="number" name="min_sentence" id="min_sentence" value="5">
        <label for="sub_topic_ratio">sub_topic_ratio (推荐0.7)</label>
        <input type="number" name="sub_topic_ratio" id="sub_topic_ratio" value="0.7">
        <label for="difficult_ratio">difficult_ratio (推荐0.15)</label>
        <input type="number" name="difficult_ratio" id="difficult_ratio" value="0.15">
        <label>person_ids1:</label>
        <label><input name="person_ids1[]" type="checkbox" value="4921">朱明之</label>
        <label><input name="person_ids1[]" type="checkbox" value="15378">吕嘉问</label>
        <label><input name="person_ids1[]" type="checkbox" value="15379">王安礼</label>
        <label><input name="person_ids1[]" type="checkbox" value="43374">吕嘉问</label>
        <label><input name="person_ids1[]" type="checkbox" value="48805">王安礼</label>
        <label><input name="person_ids1[]" type="checkbox" value="50876">吕嘉问</label>
        <label><input name="person_ids1[]" type="checkbox" value="50879">王安礼</label>
        <label>person_ids2:</label>
        <label><input name="person_ids2[]" type="checkbox" value="15378">吕嘉问</label>
        <label><input name="person_ids2[]" type="checkbox" value="15379">王安礼</label>
        <label><input name="person_ids2[]" type="checkbox" value="43374">吕嘉问</label>
        <label><input name="person_ids2[]" type="checkbox" value="48805">王安礼</label>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>Socket通过人名id比较topic</h2>
    <div id='socket_compare_topic'>
        <label for="populate_ratio">populate_ratio(推荐0.6)</label>
        <input type="number" name="populate_ratio" id="populate_ratio" value="0.3">
        <label for="max_topic">max_topic(推荐 10)</label>
        <input type="number" name="max_topic" id="max_topic" value="10">
        <label for="min_sentence">min_sentence(不要小于5 )</label>
        <input type="number" name="min_sentence" id="min_sentence" value="5">
        <label for="sub_topic_ratio">sub_topic_ratio (推荐0.7)</label>
        <input type="number" name="sub_topic_ratio" id="sub_topic_ratio" value="0.7">
        <label for="difficult_ratio">difficult_ratio (推荐0.15)</label>
        <input type="number" name="difficult_ratio" id="difficult_ratio" value="0.15">
        <label>person_ids1:</label>
        <label><input name="person_ids1[]" type="checkbox" value="4921">朱明之</label>
        <label><input name="person_ids1[]" type="checkbox" value="15378">吕嘉问</label>
        <label><input name="person_ids1[]" type="checkbox" value="15379">王安礼</label>
        <label><input name="person_ids1[]" type="checkbox" value="43374">吕嘉问</label>
        <label><input name="person_ids1[]" type="checkbox" value="48805">王安礼</label>
        <label><input name="person_ids1[]" type="checkbox" value="50876">吕嘉问</label>
        <label><input name="person_ids1[]" type="checkbox" value="50879">王安礼</label>
        <label>person_ids2:</label>
        <label><input name="person_ids2[]" type="checkbox" value="15378">吕嘉问</label>
        <label><input name="person_ids2[]" type="checkbox" value="15379">王安礼</label>
        <label><input name="person_ids2[]" type="checkbox" value="43374">吕嘉问</label>
        <label><input name="person_ids2[]" type="checkbox" value="48805">王安礼</label>
        <button type='button' onclick="socket_compare_topics_by_person_ids()">socket搜索</button>
    </div>
</div>
<div>
    <h2>长轮询检查</h2>
    <form action="/test_are_you_ok_by_file_name/" method="post">
        <label for="draws">文件名字</label>
        <textarea id="draws" name="file_name" rows="1" cols="100"></textarea>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>搜索相似的人</h2>
    <label>执行前先要执行通过人名id搜索topic，然后再可视化一下，之后才能按搜索相似的人这个按钮</label>
    <button type="button" onclick="search_all_similar_person()">搜索相似的人</button>
</div>
<div>
    <h2>调整topic_id权重</h2>
    <label>执行前先要执行通过人名id搜索topic，然后再可视化一下，之后才能按调整topic_id权重这个按钮</label>
    <button type="button" onclick="adjust_topic_weights()">调整topic_id权重</button>
</div>
<div>
    <h2>通过图数据语句来查询人的id</h2>
    <form action="/test_search_person_ids_by_draws/" method="post">
        <label for="draws">图数据查询语句（执行前要开图数据库）</label>
        <textarea id="draws" name="draws" rows="4" cols="100"></textarea>
        <input type="submit" value="搜索">
    </form>
</div>
<div>
    <h2>结果:
        <button type="button" onclick="show()">可视化</button>
    </h2>
    <pre id="response">{{ response }}</pre>
</div>
<script type="text/javascript">
    _json = {};

    function show() {
        var _content = document.getElementById('response').innerText; //获取json格式内容
        _json = JSON.parse(_content);
        _content = JSON.stringify(_json, null, 2);//将字符串转换成json对象
        document.getElementById('response').innerText = _content;
    }

    function adjust_topic_weights() {
        $.ajax({
            url: '/test_adjust_topic_weights/',
            type: 'POST',
            data: JSON.stringify({
                "topic_weights": {'699576 731580 731593': 2, '445657 731580 731593': 3, '1 1 1': 5},
                "adjust_topic_weights_params": _json['adjust_topic_weights_params']
            }),
            dataType: "json",
            success: function (result) {
                document.getElementById('response').innerText = JSON.stringify(result, null, 2);
            }
        });
    }

    function search_all_similar_person() {
        $.ajax({
            url: '/test_search_all_similar_person/',
            type: 'POST',
            data: JSON.stringify({
                "topic_weights": _json['topic_id2lrs'],
                'person_ids': [1447, 2287, 2773, 2775, 2658]
            }),
            dataType: "json",
            success: function (result) {
                document.getElementById('response').innerText = JSON.stringify(result, null, 2);
            }
        });
    }

    function socket_search_topics_by_person_ids() {
        // 新建WebSocket连接
        let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        let websocket = new WebSocket(ws_scheme+"://"+window.location.host+"/socket_search_topics_by_person_ids/");
        // 连接打开事件，打开连接后发送数据
        _json = {};
        let populate_ratio = $("#socket_search_topic input[name=populate_ratio]").val();//添加至数组
        if (populate_ratio !== undefined && populate_ratio !== '')
            _json['populate_ratio'] = populate_ratio;
        let max_topic = $("#socket_search_topic input[name=max_topic]").val();
        if (max_topic !== undefined && max_topic !== '')
            _json['max_topic'] = max_topic;
        let min_sentence = $("#socket_search_topic input[name=min_sentence]").val();
        if (min_sentence !== undefined && min_sentence !== '')
            _json['min_sentence'] = min_sentence;
        let sub_topic_ratio = $("#socket_search_topic input[name=sub_topic_ratio]").val();//添加至数组
        if (sub_topic_ratio !== undefined && sub_topic_ratio !== '')
            _json['sub_topic_ratio'] = sub_topic_ratio;
        let difficult_ratio = $("#socket_search_topic input[name=difficult_ratio]").val();//添加至数组
        if (difficult_ratio !== undefined && difficult_ratio !== '')
            _json['difficult_ratio'] = difficult_ratio;
        let person_ids = [];
        $("#socket_search_topic input[name='person_ids[]']").each(function () {
            if ($(this).prop('checked'))
                person_ids.push($(this).val());
        });
        if (person_ids.length > 0)
            _json['person_ids[]'] = person_ids;
        websocket.onopen = function () {
            // 使用send()方法发送数据
            _content = JSON.stringify(_json, null, 0);
            websocket.send(_content);
            console.log("数据发送中:\n" + _content);
        };

        // 接收数据事件，event的data就是返回数据
        websocket.onmessage = function (evt) {
            let received_json = evt.data;
            console.log("数据已接收:\n");
            _json = JSON.parse(received_json);
            document.getElementById('response').innerText = JSON.stringify(_json, null, 2);
            // 作为一个好习惯，在接收完数据后就关闭连接，这样可以减少服务器的负担
            websocket.close();
        };
        // 关闭连接后要做的事
        websocket.onclose = function () {
            console.log("连接已关闭...");
        };
    }
    function socket_compare_topics_by_person_ids() {
        // 新建WebSocket连接
        let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        let websocket = new WebSocket(ws_scheme+"://"+window.location.host+"/socket_compare_topics_by_person_ids/");
        // 连接打开事件，打开连接后发送数据
        _json = {};
        let populate_ratio = $("#socket_compare_topic input[name=populate_ratio]").val();//添加至数组
        if (populate_ratio !== undefined && populate_ratio !== '')
            _json['populate_ratio'] = populate_ratio;
        let max_topic = $("#socket_compare_topic input[name=max_topic]").val();
        if (max_topic !== undefined && max_topic !== '')
            _json['max_topic'] = max_topic;
        let min_sentence = $("#socket_compare_topic input[name=min_sentence]").val();
        if (min_sentence !== undefined && min_sentence !== '')
            _json['min_sentence'] = min_sentence;
        let sub_topic_ratio = $("#socket_compare_topic input[name=sub_topic_ratio]").val();//添加至数组
        if (sub_topic_ratio !== undefined && sub_topic_ratio !== '')
            _json['sub_topic_ratio'] = sub_topic_ratio;
        let difficult_ratio = $("#socket_compare_topic input[name=difficult_ratio]").val();//添加至数组
        if (difficult_ratio !== undefined && difficult_ratio !== '')
            _json['difficult_ratio'] = difficult_ratio;
        let person_ids1 = [];
        $("#socket_compare_topic input[name='person_ids1[]']").each(function () {
            if ($(this).prop('checked'))
                person_ids1.push($(this).val());
        });
        if (person_ids1.length > 0)
            _json['person_ids1[]'] = person_ids1;
        let person_ids2 = [];
        $("#socket_compare_topic input[name='person_ids2[]']").each(function () {
            if ($(this).prop('checked'))
                person_ids2.push($(this).val());
        });
        if (person_ids2.length > 0)
            _json['person_ids2[]'] = person_ids2;
        websocket.onopen = function () {
            // 使用send()方法发送数据
            _content = JSON.stringify(_json, null, 0);
            websocket.send(_content);
            console.log("数据发送中:\n" + _content);
        };

        // 接收数据事件，event的data就是返回数据
        websocket.onmessage = function (evt) {
            let received_json = evt.data;
            console.log("数据已接收:\n");
            _json = JSON.parse(received_json);
            document.getElementById('response').innerText = JSON.stringify(_json, null, 2);
            // 作为一个好习惯，在接收完数据后就关闭连接，这样可以减少服务器的负担
            websocket.close();
        };
        // 关闭连接后要做的事
        websocket.onclose = function () {
            console.log("连接已关闭...");
        };
    }
</script>
</body>
</html>

